data/
runs/
users/
log_centre/
__pycache__/
*.pyc
*~
*.swp
*.bak
*.bak_*
*.backup*
.nfs*
tasksModel.csv
lol.csv
timing_details_report.csv
command.csv
available_instructions.csv
script/rtg_oss_feint/supra/2
